.navbar {
    width: 100%;
    background-color: black;
    color: white;
    height: 3rem;
    padding: .2rem;
    display: flex;
    align-items: center;
}

.navitem {
    padding: .5rem;
    color: white;
}

@media only screen and (max-width: 760px) {
    .navbar {
        visibility: hidden;
        display: none;
    } 
    .navitem {
        visibility: hidden;
        display: none;
    }
 }